@{
    ViewBag.Title = "Listing Deletetion Confirmation";
}

<div class="container">
    Hello *USER* Do you really want to delete this
    <br />
    <button type="button" class="btn btn-default" onclick="alert('Deleting your Ad')" @Url.Action("AdInactive")>Yes</button>
    <button type="button" class="btn btn-default">No</button>
</div>