@model Craigslist.Models.Navigation.NavigationViewModel
@{
	Layout = null;
}

<div id="navigation-top-bar">
	@using (Html.BeginForm("AppySelection", "Navigation"))
	{
		@Html.DropDownListFor(i => i.SelectedCategoty, @Model.Categories)
		<button type="submit">Search</button>
		<button type="button" onclick="window.location = '@Url.Action("ClearSearch")'">Clear Search</button>
	}
</div>