#publish-ad-contact-datails > *, #publish-ad-topbar, #publish-ad-body {
	display: block;
}

#publish-ad-header {
	width: 100%;
}

#publish-ad-price {
	float: right;
	width: 95%;
}

#publish-ad-body {
	width: 100%;
	height: 300px;
}

#publish-ad-validation-summary {
	color: #f00;
}

#list-container {
	margin-top: 35px;
}

.list-item + .list-item {
	border-top: 1px solid #808080;
}

.list-item-callout {
	cursor: pointer;
}

.item-header, .item-price {
	margin-left: 20px;
}

#myspan {
	height: 1px;
}

.item-header {
	cursor: pointer;
}


#navigation-top-bar {
	margin-top: 35px;
}

.list-item-price {
	margin-top: -15px;
}



body {
	font-family: cursive;
	font-size: 19px;
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 100%;
}

#itu-logo img {
	width: 100px;
}


#navbar-new-post {
	margin-top: 25px;
	position: absolute;
	color: black;
	font-size: large;
	font-family: cursive;
}

#craigslist-title {
	font-family: times;
	color: white;
	position: relative;
	font: menu-item;
}


#add-listing-jumbotron input, #add-listing-jumbotron select {
	margin-top: 10px;
}

.navbar {
	background-color: #00b35a;
	border-color: #ffffff;
}

.nav-tabs {
	background-color: #ffffff;
}


.jumbotron {
	padding: 20px;
	margin: 0;
}

.container .jumbotron {
	padding: 10px;
	margin: 0;
}

.form-control-search {
	display: inline;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#categories-selector {
	height: 34px;
}



#categories-search-button {
	margin-top: -2px;
}

#featured-image {
	width: 300px;
	border-radius: 10px;
	margin: 10px 15px;
}
