#publish-ad-contact-datails >*, #publish-ad-topbar, #publish-ad-body{
		display: block;
}

#publish-ad-header {
	width: 50%;
}

#publish-ad-body {
	width: 50%;
	height: 300px;
}

#publish-ad-validation-summary {
	color: #f00;
}

#list-container {
	margin-top: 35px;
}

.list-item + .list-item{
	border-top: 1px solid #808080;
}

.item-header, .item-price {
	margin-left: 20px;
}

.item-header {
	cursor: pointer;
}


#navigation-top-bar {
	margin-top: 35px;
}