
@{
    ViewBag.Title = "Your listing is deleted";
}

<h2>Your listing is deleted</h2>

<p>Your ad is now deleted!</p>

<p>@Html.ActionLink("Go to listings", "List", null, new { @class = "hi-class" })</p>

<p>Thank you for using ITU's Craigslist.</p>

<script type="text/javascript">
    $(function() {
        window.setTimeout(function() {
	        window.location = '@Url.Action("List")';
        }, 15);
    });
</script>