@model PagedList.IPagedList<Craigslist.Domain.Entities.Listing>
@using PagedList.Mvc;

<div id="list-group">
	@foreach (var item in @Model)
	{
		@Html.Partial("ListItem", item)
	}

	@if (Model.PageCount > 1)
	{
		<span id="page-number">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>
	}
   
    @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
</div>