@model PagedList.IPagedList<Craigslist.Domain.Entities.Listing>
@using PagedList.Mvc;

<div id="list-container">
	@foreach (var item in @Model)
	{
		@Html.Partial("ListItem", item)
	}
    <!-- Added pagination -->
	<span id="page-numbre">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>
   
    @Html.PagedListPager(Model, page => Url.Action("List",
    new { page }))
	
</div>